#trainJum {
	text-align: center;
	

}

#innerJum {
	background:tan;

}


h1#textJum {
	text-align: center;
	color:white;
}

#paraJum {
	text-align: center;
}

.theDiv {
	opacity: .90;
}